{% extends 'base.html' %}
{% load thumbnail %}

{% block body %}
<div class="container" data-bind="urlList: { imageData: {{ images }} }">
    <div class="row">
        <div class="span6">
            <ul class="thumbnails" data-bind="foreach: imageData">
                <li class="thumbnail span2">
                    <img data-bind="attr: { src: thumbnail }, click: function() {$root.currentImageData($data)}" />
                </li>
            </ul>
        </div>
        <div class="span6">
            <div class="row">
                <div id="controls"></div>
            </div>
            <div class="row">
                <img data-bind="attr: { src: currentImageData() ? currentImageData().original : '' }, click: selectImage" />
            </div>
        </div>
    </div>
</div>
{% endblock %}