<script type="text/html" id="course_tile">
    <div class="course-tile" data-bind="">
        <div class="alert alert-info" data-bind="visible: !isPublic()">
            <h4>Private course</h4>
            <p>Others can't see this course just yet!</p>
        </div>
        <div class="enrolled-row" data-bind="visible: enrolled">
            <span class="label label-success pull-right">Enrolled!</span>
            <br/>
        </div>
        <div class="rating-row">
            <span class="badge badge-info" data-bind="attr: {title: votes() + ' vote' + (votes() !== 1 ? 's' : '')}">
                <span data-bind="text: overallUnweightedRating"></span>/5.0
            </span>
            <span class="pull-right badge">
                <span data-bind="text: popularity"></span>
                enrollments
            </span>
        </div>
        <a data-bind="attr: { href: absoluteUrl }">
            <img data-bind="attr: { src: thumbnail }" class="course-tile-image"/>
            <h3 data-bind="text: title" class="course-tile-title"></h3>
        </a>

        <a data-bind="attr: { href: instructor.absoluteUrl }">
            <h5 data-bind="text: '- ' + instructor.bestName" class="course-tile-instructor"></h5>
        </a>
        <p data-bind="text: truncatedDescription(150)" class="course-tile-description"></p>
    </div>
</script>