n*.log
*.pot
*.pyc
local_settings.py
*~
*.db

# since this project uses less, the css files are merely the result of 
# the compilation of the less files. Therefore, the css files will not
# be committed.
*.css

# the static files collected by the collectstatic utility have no business
# getting committed to the repository. Hence all contents of this directory
# will be exempt
static.pub/*
collected-static/

# the media files also have no business getting commited
media/

# the local settings file was created so that the local settings of each installation
# would not get uploaded onto the repository. Hence, by definition, this file 
# does not get uploaded.
uberlearner/uberlearner/settings_local.py

# the eclipse settings file
.settings