Django==1.4
South
Pillow
django-allauth==0.8.3
django-bootstrap-toolkit
django-recaptcha
-e git+https://github.com/chhabrakadabra/django-avatar.git#egg=django-avatar
django-ses
pytz
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
django-storages
easy-thumbnails
python-magic>=0.4.3
hoover
-e git+https://github.com/madzak/python-json-logger.git@eafd89ae42dd7db2cedd80614e3b561378bdc413#egg=python-json-logger
django-ratings==0.3.7