{% extends 'flatpages/basicflatpage.html' %}

{% block content %}
    <iframe width="100%" height="350" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=609+8+St+SW,+Calgary,+AB,+Canada&amp;aq=&amp;sll=51.047745,-114.081125&amp;sspn=0.011655,0.027874&amp;ie=UTF8&amp;hq=&amp;hnear=609+8+St+SW,+Calgary,+Division+No.+6,+Alberta+T2P+3E5,+Canada&amp;t=m&amp;ll=51.054452,-114.08186&amp;spn=0.018883,0.077248&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <div class="row">
    <div class="span12">
        <br/>
        <p>You can reach &Uuml;berlearner at support@uberlearner.com</p>
    </div>
    </div>
{% endblock %}