<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}ÜberLearner{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A free-market online education portal.">
    <meta name="author" content="Abhin Chhabra">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}uberlearner/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}uberlearner/ico/uber-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}uberlearner/ico/uber-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}uberlearner/ico/uber-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}uberlearner/ico/uber-icon-57.png">
      {% if not debug %}
          <!-- Asynchronous Google Analytics snippet. -->
          <script>
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-37327645-1']);
              _gaq.push(['_setDomainName', 'uberlearner.com']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
          </script>
      {% endif %}
  </head>

  <body>
	{% block body %}{% endblock %}
    {% csrf_token %}{% comment %}For ajax form submissions{% endcomment %}
	
	<!-- Le javascript
    ================================================== -->
  <script>
      var require = {
          baseUrl: '{{ STATIC_URL }}',
          shim: {
              'bootstrap': {
                  deps: ['jquery'],
                  exports: 'bootstrap'
              },
              'bootstrap-tab': ['bootstrap'],
              'bootstrap-tooltip': ['bootstrap'],
              'jquery-ui': ['jquery'],
              'Davis': {
                  deps: ['jquery'],
                  exports: 'Davis'
              },
              'jquery_ckeditor': {
                  deps: ['jquery', 'ckeditor'],
                  exports: 'jquery_ckeditor'
              },
              'isotope': {
                  deps: ['jquery'],
                  exports: 'isotope'
              }
          },
          paths: {
              'css.api': 'lib/require/plugins/css/css.api',
              'css.pluginBuilder': 'lib/require/plugins/css/css.pluginBuilder',
              jquery: [
                  'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min',
                  'lib/jquery/js/jquery-1.7.2.min'
              ],
              'jquery-ui': [
                  'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min',
                  'lib/jquery_ui/js/jquery-ui.min'
              ],
              bootstrap: 'lib/bootstrap/js/bootstrap.min',
              'bootstrap-carousel': 'lib/bootstrap/js/bootstrap-carousel',
              'bootstrap-tab': 'lib/bootstrap/js/bootstrap-tab',
              'bootstrap-tooltip': 'lib/bootstrap/js/bootstrap-tooltip',
              ko: [
                  'http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0',
                  'lib/knockoutjs/js/knockout-2.1.0'
              ],
              'ko.isotope': 'lib/ko_isotope/js/ko.isotope',
              uberGrid: 'lib/ubergrid/js/uberGrid',
              tinymce: 'lib/tiny_mce/tiny_mce',
              ckeditor: 'lib/ckeditor/ckeditor',
              jquery_ckeditor: 'lib/ckeditor/adapters/jquery',
              Davis: 'lib/davisjs/js/davis.min',
              isotope: 'lib/isotope/jquery.isotope.min'
          },
          map: {
              '*': {
                  'css': 'lib/require/plugins/css/css',
                  'text': 'lib/require/plugins/text/text'
              }
          },
          config: {
              {% if not debug %}
              'lib/require/plugins/text/text': {
                  useXhr: function (url, protocol, hostname, port) {
                      return /http:\/\/uberlearner-static.s3.amazonaws.com\/[0-9a-zA-Z\/]*/.test(url);
                  }
              }
              {% endif %}
          }
      };
  </script>
  <script data-main="{% block main_js_module_block %}{{ main_js_module|default:"uberlearner/js/main/base.js" }}{% endblock %}"
          src="{{ STATIC_URL }}lib/require/require.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  {% comment %}
  {% if not debug %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
      <script src="http://github.com/downloads/SteveSanderson/knockout/knockout-2.1.0.debug.js"></script>
  {% endif %}
      <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}lib/jquery/js/jquery-1.7.2.min.js"><\/script>')</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
      <script src="{{ STATIC_URL }}lib/jquery/js/jquery.tmpl.js"></script>
      <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
      <script>window.ko || document.write('<script src="{{STATIC_URL}}lib/knockoutjs/js/knockout-2.1.0.js"><\/script>')</script>
    	
    {% for js_file in js_files %}
    	<script src="{{STATIC_URL}}{{js_file}}"></script>
    {% endfor %}
    	
    {{form.media}}
   {% endcomment %}
  </body>
</html>