{% extends 'templated-base.html' %}
{% load thumbnail %}
{% block title %}{{block.super}} | {{course.title}}{% endblock %}

{% block content %}
<div class="row" id="course-detail-block" data-bind="urlList: {courseUrl: '{{ course.get_resource_uri }}',
                                                     enrollmentUrl: '{{ course.get_enrollment_resource_uri }}',
                                                     postEnrollmentUrl: '{% url page.first.view course.instructor.username course.slug %}'}">
	<div class="span3">
        <ul class="thumbnails">
            <li class="thumbnail">
                <img src="{{ course.photo|thumbnail_url:'thumbnail' }}" />
            </li>
        </ul>
        {% include 'courses/course/read/detail/toc.html' %}
	</div>
	<div class="span9">
		{% if not course.is_public %}
			<div class="alert alert-info">
				<button class="close" data-dismiss="alert">×</button>
				This course is not yet publicly viewable. Be sure to click that "Make public" button when the course is ready.
			</div>
		{% endif %}
        {% if not course.pages.all and course.instructor == user %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">×</button>
                Use the manage button to add and remove pages from this course.
            </div>
        {% endif %}
		<div class="row">
			<div class="span7">
                {% if request.user.is_anonymous %}
                <div class="alert alert-info">
                    <h4>
                        You cannot enroll into a course without
                        <a href="{% url account_login %}" class="btn btn-success"> logging in </a> first.
                    </h4>
                </div>
                {% endif %}
				<h1>{{course.title}} <span class="label label-info">{{course.popularity}} enrollment{{course.popularity|pluralize}}</span></h1>
				<i>- Authored by {{course.instructor}}</i>
			</div>
			<div class="span2">
				{% if request.user == course.instructor %}
					<p class="pull-right">
						<a href='{% url course.manage username=request.user.username slug=course.slug %}' class="btn btn-primary">
							<i class="icon-edit icon-white"></i> Manage
						</a>
						<a href='{% url course.edit username=request.user.username slug=course.slug %}' class="btn btn-primary">
							<i class="icon-pencil icon-white"></i> Edit
						</a>
					</p>
					<p class="pull-right">
                        <a href="javascript: void(0);" class="btn btn-success" data-bind="click: toggleVisibility">
                            <i data-bind="css: { 'icon-eye-open': !course().isPublic() , 'icon-eye-close': course().isPublic() }">
                            </i> <span data-bind="text: course().isPublic() ? 'Make private' : 'Make public'"></span>
                        </a>
					</p>
				{% else %}
                    <p class="pull-right">
                    {% if not enrollment %}
                        <a href="javascript: void(0);"
                           class="btn btn-success btn-large {% if request.user.is_anonymous %}disabled{% endif %}"
                           {% if not request.user.is_anonymous %}
                           data-bind="disable: isEnrolled(), click: toggleEnrollment"
                           {% endif %} >
                            <i class="icon-white" data-bind="css: {'icon-star-empty': !isEnrolled(), 'icon-star': isEnrolled}"></i>
                            <span data-bind="text: isEnrolled() ? 'Enrolled' : 'Enroll'"></span>
                        </a>
                    {% else %}
                        <a href="{% url page.first.view course.instructor.username course.slug %}"
                           class="btn btn-success btn-large"
                           data-bind="visible: isEnrolled">
                            <i class="icon-white icon-book"></i> Study!
                        </a>
                    {% endif %}
                    </p>
                {% endif %}
			</div>
		</div>
        <div class="row">
            <div class="span9">
                {% if course.description %}
                    {{course.description|linebreaks}}
                {% endif %}
            </div>
        </div>
	</div>
</div>
{% comment %}Include a CSRF token in the body for the session authentication of ajax calls.{% endcomment %}
{% csrf_token %}
{% endblock %}
