{% extends 'templated-base.html' %}
{% load thumbnail %}
{% load navigation_tags %}
{% block title %}{{block.super}} | {{course.title}}{% endblock %}

{% block content %}
<div class="row" id="course-detail-block" data-bind="urlList: {courseUrl: '{{ course.get_resource_uri }}',
                                                     enrollmentUrl: '{{ course.get_enrollment_resource_uri }}',
                                                     postEnrollmentUrl: '{% url page.first.view course.instructor.username course.slug %}'}">
	<div class="span3">
    <div class="row">
        <div class="span3">
            <ul class="thumbnails">
                <li class="thumbnail">
                    <img src="{{ course.photo|thumbnail_url:'thumbnail' }}" /><br/>
                    {% if enrollment %}
                        {% comment %}A course can only be rated by students enrolled in it.{% endcomment %}
                        <span class="rating ratable pull-left" data-bind="foreach: [5,4,3,2,1]">
                    <span class="star" data-bind="click: $parent.course().rate, css: {selected: $data==$parent.course().userRating()}"></span>
                </span>
                    {% endif %}
                    <span class="badge badge-info {% if enrollment %}pull-right{% endif %}"
                          data-bind="text: course().overallUnweightedRating() + '/5.0',
                      attr: {title: course().votes() + ' vote' + (course().votes() !== 1 ? 's': '')}">
                </span>
                    {% if enrollment %}<br/><br/>{% endif %}
                    <span class="label label-info pull-right">{{course.popularity}} enrollment{{course.popularity|pluralize}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            {% if all_enrollments.exists %}
                {% include 'courses/course/read/detail/enrollments.html' %}
            {% endif %}
        </div>
    </div>
	</div>
	<div class="span9">
		{% if not course.is_public %}
			<div class="alert alert-info">
				<button class="close" data-dismiss="alert">×</button>
				This course is not yet publicly viewable. Be sure to click that "Make public" button when the course is ready.
			</div>
		{% endif %}
        {% if not course.pages.all and course.instructor == user %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">×</button>
                Use the "Manage content" button to add and remove pages from this course.
            </div>
        {% endif %}
		<div class="row">
			<div class="span6">
                {% if request.user.is_anonymous %}
                <div class="alert alert-info">
                    <h4>
                        You cannot enroll into a course without
                        {% url account_login as login_url %}
                        <a href="{% add_get_params login_url next=request.path %}" class="btn btn-success"> logging in </a> first.
                    </h4>
                </div>
                {% endif %}
				<h1>{{course.title}}</h1>
				<i>- Authored by {{course.instructor}}</i>
			</div>
			<div class="span3">
				{% if request.user == course.instructor %}
                    <div class="btn-group pull-right">
                        <a href='{% url course.manage username=request.user.username slug=course.slug %}' class="btn btn-primary">
                            <i class="icon-pencil icon-white"></i> Manage content
                        </a>
                        <a href='{% url course.settings username=request.user.username slug=course.slug %}'
                           class="btn btn-primary" title="Course settings">
                            <i class="icon-cog icon-white"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-primary"
                           data-bind="click: toggleVisibility,
                                      attr: {title: course().isPublic() ? 'Mark as draft' : 'Publish'},
                                      css: {'btn-success': !course().isPublic(), 'btn-primary': course().isPublic()}">
                            <i data-bind="css: { 'icon-eye-open': !course().isPublic() , 'icon-eye-close': course().isPublic() }">
                            </i>
                        </a>
                    </div>
				{% else %}
                    <p class="pull-right">
                    {% if not enrollment %}
                        <a href="javascript: void(0);"
                           class="btn btn-success btn-large {% if request.user.is_anonymous %}disabled{% endif %}"
                           {% if not request.user.is_anonymous %}
                           data-bind="disable: isEnrolled(), click: toggleEnrollment"
                           {% endif %} >
                            <i class="icon-white" data-bind="css: {'icon-star-empty': !isEnrolled(), 'icon-star': isEnrolled}"></i>
                            <span data-bind="text: isEnrolled() ? 'Enrolled' : 'Enroll'"></span>
                        </a>
                    {% else %}
                        <a href="{% url page.first.view course.instructor.username course.slug %}"
                           class="btn btn-success btn-large"
                           data-bind="visible: isEnrolled">
                            <i class="icon-white icon-book"></i> Study!
                        </a>
                    {% endif %}
                    </p>
                {% endif %}
			</div>
		</div>
        <div class="row">
            <div class="span9">
                {% if course.description %}
                    {{course.description|linebreaks}}
                {% endif %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span9">
                {% include 'courses/course/read/detail/toc.html' %}
            </div>
        </div>
	</div>
</div>
{% csrf_token %}
{% endblock %}
