{% extends "templated-base.html" %}

{% load i18n %}
{% load account_tags %}
{% load bootstrap_toolkit %}
{% load avatar_tags %}

{% block title %}{{block.super}} | {% trans "Edit Profile" %}{% endblock %}

{% block content %}
<div class="row">
	<form action="{% url account_edit_user_profile_with_username username=request.user.username %}" method="post" 
			enctype="multipart/form-data" class="form-horizontal edit-profile-form">
		{% csrf_token %}
		<div class="span2 offset2" id="avatar">
			{% with request.user as profile_owner %}
			{% include 'avatar/profile_thumbnail.html' %}
			{% endwith %}
		</div>
		<div class="span6">
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert" href="#">×</a>
				Note that if you never upload an avatar image, &Uuml;berlearner will fall-back to Gravatar.
			</div>
			{{ form|as_bootstrap }}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<a class="btn btn-inverse" href="{% url account_user_profile_with_username username=request.user.username %}">
					Cancel
				</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}


