{% extends "templated-base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap_toolkit %}
{% load avatar_tags %}

{% block title %}{{block.super}} | {% trans "Profile" %}{% endblock %}


{% block content %}
<div class="row">
  <div class="span2">
  	{% with profile_owner as user %}
  	{% include 'avatar/profile_thumbnail.html' %}
  	{% endwith %}
  </div>
  <div class="span10">
  	{% if profile_owner == request.user %}
  	<p class="pull-right">
  		<a href="{% url account_edit_user_profile_with_username username=request.user.username %}" class="btn btn-primary">
  			<i class="icon-pencil icon-white"></i> Edit
  		</a>
  	</p>
  	{% endif %}
    <h1>{{profile_owner.profile.get_best_name}}</h1><br />
    {% if profile_owner.get_profile.summary %}
    {{ profile_owner.get_profile.summary|linebreaks }} <br />
    {% endif %}
  </div>
</div>
{% endblock %}
