input, textarea, select {
	 width: 90%;
}

p {
//  margin-bottom: 100px;
}

/*
// enable this when the radio buttons in the avatar change
// view need to go.
#change-primary-avatar-form {
	input[type=radio] {
	      display:none;
	}
	.selected {
		background-color: #blueLight;
	}
}
*/