{% extends 'templated-base.html' %}
{% load thumbnail %}
{% load bootstrap_toolkit %}

{% block title %}{{block.super}} |
    {% if course %}
        "{{ course.title }}" settings
    {% else %}
        Create course
    {% endif %}
{% endblock %}

{% block content_title %}
<h1>
{% if course %}
	"{{course.title}}" Settings
{% else %}
	Create a new course!
{% endif %}
</h1><br>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span2">
		<ul class="thumbnails">
            <li class="thumbnail">
                {% if course %}
                <img src="{{ course.photo|thumbnail_url:'thumbnail' }}"/>
                {% else %}
                <img src="{{ STATIC_URL }}uberlearner/img/defaultCourseImage.png"/>
                {% endif %}
            </li>
		</ul>
	</div>
	<div class="span8">
		<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
			{% csrf_token %}
			{{form|as_bootstrap}}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{% if course %}
					Save
					{% else %}
					Create
					{% endif %}
				</button>
				{% if course %}
					<a class="btn btn-inverse" href="{% url course.view username=course.instructor.username slug=course.slug %}">
						Cancel
					</a>
				{% else %}
					<a class="btn btn-inverse" href="{% url account_user_profile_with_username username=request.user.username %}">
						Cancel
					</a>
				{% endif %}
                {% if course and not course.enrollments.exists %}
                <a href="#course-delete-warning-modal" class="btn btn-danger" data-toggle="modal">Delete this course!</a>
                {% endif %}
			</div>
		</form>
	</div>
</div>
{% if course or not course.enrollments.exists %}
{% include 'courses/course/delete/modals/delete-warning.html' %}
{% endif %}
{% endblock %}
