<script type="text/html" id="ko_uberGrid_courses_taught_grid" xmlns="http://www.w3.org/1999/html">
    <div class="row" data-bind="visible: dataExists, foreach: currentData">
        <div class="course-tile-small">
            <div class="course-tile-title">
                <a data-bind="text: truncatedTitle(35), attr: {href: absoluteUrl, title: title}"></a>
            </div>
            <hr/>
            <a data-bind="attr: {href: absoluteUrl}">
                <img class="course-tile-image" data-bind="attr: {src: thumbnail}" />
            </a>
            <div class="course-tile-description">
                <div class="rating-row">
                    Rating:
                    <span class="badge badge-info" data-bind="attr: {title: votes() + ' vote' + (votes() !== 1 ? 's' : '')}">
                        <span data-bind="text: overallUnweightedRating"></span>/5.0
                    </span>
                    <br/>
                    Enrollments:
                    <span class="badge badge-info" data-bind="text: popularity"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="ko_uberGrid_courses_enrolled_grid">
    <div class="row" data-bind="visible: dataExists, foreach: currentData">
        <div class="course-tile-small">
            <div class="course-tile-title">
                <a data-bind="text: course.truncatedTitle(35), attr: {href: course.absoluteUrl, title: course.title}"></a>
            </div>
            <a data-bind="attr: { href: course.instructor.absoluteUrl }">
                <h5 data-bind="text: '- ' + course.instructor.bestName" class="course-tile-instructor"></h5>
            </a>
            <hr/>
            <a data-bind="attr: {href: course.absoluteUrl}">
                <img class="course-tile-image" data-bind="attr: {src: course.thumbnail}" />
            </a>
            <div class="course-tile-description">
                <div class="rating-row">
                    Rating:
                    <span class="badge badge-info" data-bind="attr: {title: course.votes() + ' vote' + (course.votes() !== 1 ? 's' : '')}">
                        <span data-bind="text: course.overallUnweightedRating"></span>/5.0
                    </span>
                    <br/>
                    Enrollments:
                    <span class="badge badge-info" data-bind="text: course.popularity"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<hr/>
{% if are_instructor_courses_visible %}
<h2>Courses taught:</h2>
<div    id="instructor-course-list"
        class="span10"
        data-bind="	uberGridUrl: '/api/v1/courses/',
                    uberGrid: gridViewModel,
                    uberGridTemplate: 'ko_uberGrid_courses_taught_grid',
                    uberGridGetParams: {'instructor': '{{profile_owner.username}}'}">
</div>
{% endif %}

{% if are_enrollments_visible %}
<h2>Courses enrolled:</h2>
<div    id="student-course-enrolled-list"
        class="span10"
        data-bind=" uberGridUrl: '/api/v1/enrollments/',
                    uberGrid: gridViewModel,
                    uberGridTemplate: 'ko_uberGrid_courses_enrolled_grid',
                    uberGridGetParams: {'student': '{{ profile_owner.username }}'}">
</div>
{% endif %}