{% extends 'templated-base.html' %}

{% load bootstrap_toolkit %}

{% block title %}{{block.super}} | {% if course %}Edit{% else %}Create{% endif %} course{% endblock %}

{% block content_title %}
Create a new course!
{% endblock %}

{% block content %}
<div class="row">
	<div class="span8">
		<form action="" method="post" class="form-horizontal">
			{% csrf_token %}
			{{form|as_bootstrap}}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Create!</button>
				<a class="btn btn-inverse" href="{% url account_user_profile_with_username username=request.user.username %}">
				Cancel
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
